<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'iconweb/css/all.min.css'%} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <title>Document</title>
</head>

<body>
    <div class="App">
        <div class="header">
            <div class="header__first">
                <div class="header__first_item">
                    <ul class="header__list-1">
                        <li><a href="">00-66-77-88-99</a></li>
                        <div class="header__vertical"></div>
                        <li><a href="">Contact us to day !</a></li>
                        <div class="header__vertical"></div>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""> <i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="header__first_item">
                    <ul class="header__list-2">
                        <li id="myTitleAccount"><a href="">
                        </a>
                           
                                     <span style="width:120px;height:30px;background-color:orange;text-align:center;font-weight:bold;line-height:30px" id="myLogout"><a href="">Logout</a></span>
                         
                        </li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{%url 'logout' %}">{{request.user}}</a></li>
                        {% else %}
                            <li><a href="{% url 'login'%}">Login</a></li>
                            <div class="header__vertical-2"></div>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                        <div class="header__vertical-2"></div>
                        <li><a href="">Service</a></li>
                        <div class="header__vertical-2"></div>
                        <li><a href="">Support</a></li>
                        <div class="header__vertical-2"></div>
                        <li id="cart-option" style="position:relative" ><a href="http://localhost:8888/viewcart"><i class="fas fa-shopping-cart"></i></a>
                        <ul id="view-cart-option" style="position:absolute" style="width:100px;height:300px">
                            <li style="width:120px;height:30px;background-color:orange;text-align:center;font-weight:bold"><a href="">View Cart</a></li>
                            <li style="width:120px;height:30px;background-color:orange;text-align:center;font-weight:bold;margin-top:3px"><a href="">View Order</a></li>
                    </ul>
                        </li>
                      
                    </ul>
                </div>
            </div>
            <div class="header__Second-wrap">
                <div class="header__Second">
                    <div class="header__logo">
                        <a href="http://localhost:8888/"><img alt="KuteShop" src="https://kuteshop.kutethemes.net/wp-content/uploads/2021/08/logo-4.png" class="_rw"></a>
                    </div>
                    <div class="header__nav">
                        <ul>
                            <li><span>HOME</span></li>
                            <li>SHOP</li>
                            <li>BLOG</li>
                            <li>PAGE</li>
                            <li>PURCHASE THIS THEME!</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__three-wrap">
                <div class="header__three">
                    <div class="header__three-item">
                        <ul>
                            <li><img width="54" height="54" src="https://kuteshop.kutethemes.net/wp-content/uploads/2021/08/04-img-1.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy"></li>
                            <li>WORLDWIDE DELIVERY</li>
                        </ul>
                    </div>
                    <div class="header__three-item">
                        <ul>
                            <li><img width="54" height="54" src="https://kuteshop.kutethemes.net/wp-content/uploads/2021/08/04-img-2.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy"></li>
                            <li>24/7 HELP CENTER</li>
                        </ul>
                    </div>
                    <div class="header__three-item">
                        <ul>
                            <li><img width="54" height="54" src="https://kuteshop.kutethemes.net/wp-content/uploads/2021/08/04-img-3.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy"></li>
                            <li>SHOP WITH CONFIDENCE</li>
                        </ul>
                    </div>
                    <div class="header__three-item">
                        <ul>
                            <li><img width="54" height="54" src="https://kuteshop.kutethemes.net/wp-content/uploads/2021/08/04-img-4.png" class="attachment-full size-full wp-post-image" alt="" loading="lazy"></li>
                            <li>SAFE PAYMENT</li>
                        </ul>
                    </div>
                </div>
                   
            </div>
        </div>
        {% block content %}
       
        {% endblock  %}

         <div class="footer">
                    <div class="footer__wrap">
                        <div class="footer__list-option">
                            <ul>
                                <li><span>Kute shop</span></li>
                                <li><span>Condimentum adipiscing vel neque dis nam parturient orci at scelerisque neque dis nam parturient.</span></li>
                                <li>
                                    <span>
                                        Address:
                                        Example Street 68, Mahattan,
                                        New York, UK
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Phone:
                                        (+800) 123 456 7891
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Email:
                                        kuteshopsupport@gmail.com
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="footer__list-options">
                            <ul>
                                <li><span>Company</span></li>
                                <li><span>About us</span></li>
                                <li><span>Testimonials</span></li>
                                <li><span>Affiliate Program</span></li>
                                <li><span>Terms & Conditions</span></li>
                                <li><span>Contact Us</span></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="footer__list-options">
                            <ul>
                                <li><span>My Account</span></li>
                                <li><span>My Order</span></li>
                                <li><span>My Wishlist</span></li>
                                <li><span>My Credit Slip</span></li>
                                <li><span>My Addresses</span></li>
                                <li><span>My Personal Info</span></li>
                            </ul>
                        </div>
                        <div class="footer__list-options">
                            <ul>
                                <li><span>Supports</span></li>
                                <li><span>New User Guide</span></li>
                                <li><span>Help Center</span></li>
                                <li><span>Refund Policy</span></li>
                                <li><span>Report Spam</span></li>
                                <li><span>FAQs</span></li>
                            </ul>
                        </div>
                        <div class="footer__list-options">
                            <ul>
                                <li><span>Newsletter</span></li>
                                <li class="footer__input">
                                    <input type="text" placeholder="Your email address" />
                                    <div><span>OK</span></div>
                                </li>
                                <li class="footer__social"><span>Lest’s Socialize</span></li>
                                <li class="footer__icon-social">
                                    <div class="footer__face"><i class="fab fa-facebook-f"></i></div>
                                    <div class="footer__twitter"><i class="fab fa-twitter"></i></div>
                                    <div class="footer__youtobe"><i class="fab fa-youtube"></i></div>
                                    <div class="footer__instagram"><i class="fab fa-instagram"></i></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__hotkeywords">
                    <ul>
                        <li>
                            <span class="Title__keyhot">Hot Searched Keywords:</span>
                            <span>Xiaomi Mi3</span>
                            <span>Digiflip Pro XT 712 Tablet</span><span>Mi 3 Phones</span><span>Iphone 6 Plus</span>
                            <span> Women’s Messenger Bags</span><span> Wallets</span>
                            <span> Women’s Clutches</span><span>  Backpacks Totes</span>
                        </li>
                        <li>
                            <span class="Title__keyhot">Television:</span>
                            <span>Sony TV</span>
                            <span>Samsung TV</span><span>
                                LG TV
                            </span>Panasonic TV<span>
                                Onida TV
                            </span>
                            <span>
                                Toshiba TV
                            </span>
                            Philips TV<span>
                                Micromax TV
                            </span>
                            <span> LED TV</span><span>Smart TV</span>
                            <span>Palsma TV</span>
                            <span>LCD TV</span>
                        </li>
                        <li>
                            <span class="Title__keyhot">Footwear:</span>
                            <span>Shoes</span>
                            <span>Casual Shoes</span><span>Sport Shoes</span><span>Formal Shoes</span>
                            <span>Adidas Shoes</span><span>Gas Shoes</span>
                            <span>Puma Shoes</span><span>Reebok Shoes</span>
                            <span>Woodland Shoes</span>
                            <span>Red tape Shoes</span>
                            <span>Nike Shoes</span>
                        </li>
                    </ul>
                </div>
                <div class="footer__CoppyRight">
                    <ul>
                        <li><span>Copyrights © KuteShop eCommerce. All Rights Reserved.</span></li>
                        <li><span>Made with <i class="fas fa-heart"></i>  by Kutetheme!</span></li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="{% static '/Js/index-2.js' %}" ></script>
<script src="{% static '/Js/jquery-3.6.2.min.js' %}" ></script>
<script src="{% static '/Js/index.js' %}"></script>
<script src="{% static '/Js/custom.js' %}"></script>
<script src="{% static '/Js/index-3.js' %}"></script>
<script>
    alertify.set('notifier','position', 'top-right');
    {% for msg in messages %}
        alertify.success('{{msg}}');
    {% endfor %}
  </script>
</body>
</html>