{%extends 'pages/base.html' %}


{% block content  %}
   

<style>
    .orS:hover{
        cursor: pointer;
        background-color:rgba(128, 128, 128, 0.212);
    }
</style>
<div style="width:1200px;height:500px;display:flex;flex-direction:column;justify-content: center;
        align-items: center;margin:0 auto">

        <i style="font-size:100px;color:green" class="far fa-check-circle"></i></br>
        <span style="font-size:55px;font-weight:bold;color:gray">Order Success !</span>
        <ul style="width:600px;height:auto;margin:0 auto;display:flex;justify-content:space-around;margin-top:20px">
            <a class="orS" style="width:200px;height:40px;text-align:center;line-height:40px;border-radius:20px;border:1px solid gray;color:#333;font-weight:bold" href="http://localhost:8888/">GO TO HOME</a>
            <a class="orS" style="width:200px;height:40px;text-align:center;line-height:40px;border-radius:20px;border:1px solid gray;color:#333;font-weight:bold" href="#">VIEW YOUR ORDER</a>
        </ul>
 
</div>

{% endblock  %}